@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: rgb(239, 239, 239, 0.5);
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  letter-spacing: 0.07rem;
  font-weight: 300;
}
