@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100vh;
  font-size: 14px;
  margin: 0;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  letter-spacing: 0.07rem;
  font-weight: 300;
  line-height: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  word-spacing: -0.2rem;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #aaa;
  background-clip: padding-box;
  scroll-snap-align: start;
}
thead {
  z-index: 1000;
  position: relative;
}
th,
td {
  padding: 0.6rem;
  text-align: left;
  margin: 0;
}
thead th {
  position: sticky;
  top: 0;
  background-clip: padding-box;
}
thead th.pin {
  left: 0;
  z-index: 1001;
}
tbody th {
  background-clip: padding-box;
}
tbody {
  z-index: 10;
  position: relative;
}
tbody th {
  position: sticky;
  left: 0;
}
thead th,
tbody th {
  background-color: #f8f8f8;
}

@media screen and (max-width: 640px) {
  html,
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 11px;
  }
}
