#toc li {
  border-bottom: 1px solid black;
}
#toc li a {
  display: inline-block;
  line-height: 3rem;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#toc li a:hover {
  font-weight: 700;
}
#toc li[data-level='1'] {
  margin-left: 0rem;
}
#toc li[data-level='2'] {
  padding-left: 1rem;
}
#toc li[data-level='3'] {
  padding-left: 2rem;
}
#toc li[data-level='4'] {
  padding-left: 3rem;
}
#toc li[data-level='5'] {
  padding-left: 4rem;
}
#toc li[data-level='6'] {
  padding-left: 5rem;
}
#toc::-webkit-scrollbar {
  width: 7px; /* 스크롤바의 너비 */
}
#toc::-webkit-scrollbar-thumb {
  height: 25%; /* 스크롤바의 길이 */
  max-height: 10%; /* 스크롤바의 길이 */
  background: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

#markdown-body img {
  display: block;
  max-width: 500px;
  width: inherit;
  margin: auto;
}
#markdown-body img[title='large'] {
  max-width: 700px;
}
#markdown-body img[title='small'] {
  max-width: 300px;
}
#markdown-body h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  color: black !important;
}
#markdown-body h2 {
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
  color: black !important;
}
#markdown-body h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
#markdown-body h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
#markdown-body h5 {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
#markdown-body h6 {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
#markdown-body h1 a,
#markdown-body h2 a,
#markdown-body h3 a,
#markdown-body h4 a,
#markdown-body h5 a,
#markdown-body h6 a {
  color: black;
}

#markdown-body hr {
  border: 1px solid grey;
}
#markdown-body strong {
  font-weight: bold;
}
#markdown-body a {
  color: rgb(17, 153, 187);
  font-weight: 400;
}
#markdown-body p,
#markdown-body li {
  margin: 0.5rem 0rem;
  word-spacing: -0.07rem;
  line-height: 1.8rem;
}
#markdown-body ul li {
  list-style: circle;
}
#markdown-body ol li {
  list-style: decimal;
}
#markdown-body pre * {
  letter-spacing: 0;
  line-height: 1.4rem;
}
#markdown-body pre {
  padding: 1rem 1rem calc(1rem - 20px) 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  overflow-x: scroll;
}
#markdown-body pre::-webkit-scrollbar {
  background-color: transparent;
}
#markdown-body pre::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}
#markdown-body pre::-webkit-scrollbar-track {
  background-color: transparent;
}
#markdown-body * {
  font-family: var(--font-azeret-mono);
  font-weight: 200;
  line-height: 1.2rem;
}
#markdown-body code {
  color: rgb(233, 122, 123);
  font-weight: 400;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

#markdown-body s {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

#markdown-body pre code {
  background-color: transparent;
  font-weight: 200;
  padding: 0;
  color: black;
}
#markdown-body blockquote {
  border: 1px solid rgba(39, 169, 227, 0.5);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 15px;
  padding-right: 10px;
  border-left: 6px solid rgba(39, 169, 227, 0.5);
}
#markdown-body .hljs-keyword {
  color: rgb(179, 67, 179);
}
#markdown-body .hljs-params {
  color: rgb(39, 39, 212);
}
#markdown-body .hljs-variable {
  color: rgba(9, 88, 9);
}
#markdown-body .hljs-property {
  color: rgb(95, 6, 136);
}
#markdown-body .hljs-string {
  color: green;
}
#markdown-body .hljs-number {
  color: rgba(250, 2, 196);
}
#markdown-body .hljs-title {
  color: #d73a49;
}
#markdown-body .hljs-comment {
  color: #6a737d;
}
